/* -------------------------
   デザイン：浅野未央
   CSSコーディング：pco2699

   https://xd.adobe.com/view/e529c760-3ac5-4996-7a7a-ddef84f06648-9318/
   ------------------------- */

html {
    background-color: black;
}

/* -------------------------
   じゃんけんのスタート画面
   ------------------------- */
.title {
    text-align: center;
}
.janken-title {
    margin: 80px 0 80px 0;
    color: #6a6a6a;
    font-size: 52px;
    font-weight: bold;
}

/* -------------------------
   じゃんけんで手を選ぶ画面
   ------------------------- */
.battle__pchand {
    margin: 10px 0;
}

.battle__round {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin: 10px auto;
    width: 20%;
}

.battle__status {
    color: #FFFFFF;
    margin: 20px 0;
    font-size: 38px;
}

/* -------------------------
   じゃんけんの途中結果を出す画面
   ------------------------- */
/*結果を表示するボード*/
.board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px auto;
    width: 300px;
    height: 300px;
    z-index: 999;

    background-color: #FFFFFF;
    opacity: 0.8;
    text-align: center;
}

/*~回戦*/
.board__round {
    width: 100px;
    margin: 10px auto;
    display: block;
    border-radius: 40px;
    padding: 8px 10px 8px 10px;
    background-color: #44a2d3;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}

.board__result, .board__percentage, .board__win {
    display: block
}

.board__result {
    margin: 20px auto;
    font-size: 34px;
}

.board__win__count {
}

.board__winningPercentage {
}

.board__score {

}


/* -------------------------
   汎用的な部品
   ------------------------- */
/*じゃんけんの手*/
.hand {
    width:120px;
    height: 120px;
}

/*選択されなかった手*/
.unselected {
    filter:brightness(60%);
}

/*選択された手*/
.selected {
    filter:brightness(100%);
}

/*じゃんけんを表示する部品*/
.battle {
    text-align: center;
}

/*ステージ切り替えのために非表示に*/
.stage, .board, .total, .battle__result {
    display: none;
}

.button {

    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    background-color: #44a2d3;
    color: #FFFFFF;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
}


