/* -------------------------
   デザイン：浅野未央
   CSSコーディング：pco2699

   https://xd.adobe.com/view/e529c760-3ac5-4996-7a7a-ddef84f06648-9318/
   ------------------------- */

html {
    background-color: black;
}

/* -------------------------
   じゃんけんのスタート画面
   ------------------------- */
.title {
    text-align: center;
}
.janken-title {
    margin: 80px 0 80px 0;
    color: #6a6a6a;
    font-size: 52px;
    font-weight: bold;
}

/* -------------------------
   じゃんけんで手を選ぶ画面
   ------------------------- */
.battle__pchand {
    margin: 10px 0;
}

.battle__round {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin: 10px auto;
    width: 20%;
}

.battle__status {
    color: #FFFFFF;
    margin: 20px 0;
    font-size: 38px;
}

/* -------------------------
   じゃんけんの途中結果を出す画面
   ------------------------- */
/*結果を表示するボード*/
.board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px auto;
    width: 300px;
    height: 350px;
    z-index: 999;

    background-color: #FFFFFF;
    opacity: 0.95;
    text-align: center;
}

/*~回戦*/
.board__round {
    width: 100px;
    margin: 10px auto;
    display: block;
    border-radius: 40px;
    padding: 8px 10px 8px 10px;
    background-color: #44a2d3;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}

.board__result {
    margin: 20px auto;
    font-size: 34px;
    font-weight: bold;
}

.board__result.win {
    color: #f70d1b;
}

.board__result.draw {
    color: black;
}

.board__result.lose {
    color: #203e5b;
}

.next__stage, .back__toTitle {
    position: absolute;
    background-color: #1c5ff3;
    border-radius: 20px;
    color: #FFFFFF;
    top: 420px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 10px 10px;
    width: 120px;
    height: 18px;
    z-index: 999;

    text-align: center;
}


.board__win, .board__percentage {
    margin: 10px auto;
}

.board__score {
    width: 52px;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    margin: 2px auto 20px;
    border-radius: 15px;
    background-color: #1c5ff3;
    color: #fff;
}
/* -------------------------
   最終結果画面
   ------------------------- */
.result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px auto;
    width: 300px;
    height: 350px;
    z-index: 999;

    background-color: #FFFFFF;
    opacity: 0.95;
    text-align: center;
}

.result__image {
    margin-top: 10px;
    margin-bottom: 10px;

    width: 200px;
}

.result__show {
    position: absolute;
    background-color: #f41a23;
    border-radius: 20px;
    color: #FFFFFF;
    top: 420px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 10px;
    width: 120px;
    height: 18px;
    z-index: 999;

    text-align: center;

}


/* -------------------------
   汎用的な部品
   ------------------------- */
/*じゃんけんの手*/
.hand {
    width:120px;
    height: 120px;
}

/*選択されなかった手*/
.unselected {
    filter:brightness(60%);
}

/*選択された手*/
.selected {
    filter:brightness(100%);
}

/*じゃんけんを表示する部品*/
.battle {
    text-align: center;
}

/*ステージ切り替えのために非表示に*/
.stage, .board, .total, .battle__result, .next__stage, .back__toTitle, .result__show, .result {
    display: none;
}

.button {
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    background-color: #44a2d3;
    color: #FFFFFF;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
}


